.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.QuoteBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  animation: fadeIn 5s;
}
#quote-box {
  text-align: center;
}
.container {
  width: 500px;
  background-color: white;
  border-radius: 5px;
  padding: 2em 4em 5em 4em;
}
#text {
  font-size: 25px;
  font-weight: 500;
}
#author {
  text-align: right;
  font-size: 18px;
}
#tweet-quote {
  float: left;
  font-size: 3em;
}
#new-quote {
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  float: right;
  transform: translate(0px, 5px);
}
#new-quote:hover {
  cursor: pointer;
}
#credits {
  margin-top: 1em;
}
#credits a {
  color: white;
  text-decoration: none;
}
